<h3 class="text-black-50">商品一覧</h3>

<div slass="container">
  <div class="row">
    <div class="col-sm-5">
      <table class="table">
        <% @items.each do |items| %>
        <tr>
          <td></td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
